@media screen and (max-width: 600px) {
  .wrapper {
    padding: 0 1em;
  }

  header {
    padding: 3em 0 2em 0;
  }

  header .avatar img {
    width: 6em;
  }

  header h1 {
    font-size: 1.2em;
    line-height: 1.4;
    text-align: center;
  }

  ul.icons {
    text-align: center;
    padding: 1em 0;
  }

  ul.icons li {
    padding: 0 0.5em;
  }

  .thumbnails {
    flex-direction: column;
    margin: 0;
  }


  .thumbnails > div {
    width: 100%;
    padding-left: 0;
  }

  .thumbnails a {
    margin: 0 0 1.5em 0;
  }

  .thumbnails a img {
    width: 100%;
    height: auto;
  }

  footer {
    padding: 2em 0;
  }

  footer:before {
    margin-bottom: 2em;
  }
}
